<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error_403</title>
    <link rel="stylesheet" href="css/403.css">
</head>
<body>
    <div class="scene">
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <div class="overlay"></div>
        <span class="bg-403">403</span>
        <div class="text">
          <span class="hero-text"></span>
          <span class="msg">can't let <span>you</span> in.</span>
          <span class="support">
            <span>unexpected?</span>
            <a href="/">homepage</a>
          </span>
        </div>
        <div class="lock"></div>
      </div>
</body>
</html>