<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community</title>
    <link rel="stylesheet" href="/css/blog.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="https://unpkg.com/trix@2.0.0/dist/trix.css"
  />
  <script
    type="text/javascript"
    src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"
  ></script>
  </head>
  <body>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
    <label for="menu-icon"></label>
    <nav class="nav">
      <ul class="pt-5">
        <li><a href="/">Community</a></li>
        <li><a href= /blog/create/<%=username%> >Create a Blog</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </nav>
    <div class="section-center">
      <h1 id="title">IITR_WRITES</h1>
    </div>
    <div id="tag_line">ALL THE WORDS YOU NEVER SAID</div>
    <div class="header">
      <div class="inner-header flex">
        <h2 id="test">Create a Blog</h2>
      </div>
      <div>
        <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class="parallax">
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(255,255,255,0.7)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="3"
              fill="rgba(255,255,255,0.5)"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="container">
        <form method="post" enctype="multipart/form-data" action= <%=username %> >
            <label for="name">Title : </label>
            <input id="name" type="text" name="title" placeholder="title" required />
            <label for="sub_title">Sub_Title : </label>
            <input id="sub_title" type="text" name="sub_title" placeholder="sub_title" required />
            <label for="image">Cover Image : </label>
            <input
                id="image"
              type="file"
              name="display"
              placeholder="image"
              required
            />
            <label for="x">Start Writing !</label>
            <input id="x" type="hidden" name="content" />
            <trix-editor class="trix-content" input="x"></trix-editor>
            <button type="submit">Sign up</button>
        </form>
    </div>
    <script>trix-file-accept.preventDefault();</script>
  </body>
</html>
