<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community</title>
    <link rel="stylesheet" href="/css/Writes.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
    <label for="menu-icon"></label>
    <nav class="nav">
      <ul class="pt-5">
        <li><a href="/">Community</a></li>
        <li><a href=/blog/create/<%=username%> >Create a Blog</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </nav>
    <div class="section-center">
      <h1 class="mb-0 head">IITR_WRITES</h1>
    </div>
    <div id="tag_line">ALL THE WORDS YOU NEVER SAID</div>
    <div class="header">
      <div class="inner-header flex">
        <h2 id="test">The Community</h2>
      </div>
      <div>
        <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class="parallax">
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(255,255,255,0.7)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="3"
              fill="rgba(255,255,255,0.5)"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <figure class="card__thumb">
          <img
            src="https://source.unsplash.com/75S9fpDJVdo/300x510"
            alt="Picture by Kyle Cottrell"
            class="card__image"
          />
          <figcaption class="card__caption">
            <h2 class="card__title">
              NASA Has Found Hundreds Of Potential New Planets
            </h2>
            <p class="card__snippet">
              NASA released a list of 219 new “planet candidates” discovered by
              the Kepler space telescope, 10 of which are similar to Earth’s
              size and may be habitable by other life forms.
            </p>
            <a href="" class="card__button">Read more</a>
          </figcaption>
        </figure>
      </div>

      <div class="card">
        <figure class="card__thumb">
          <img
            src="https://source.unsplash.com/71u2fOofI-U/300x510"
            alt="Picture by Nathan Dumlao"
            class="card__image"
          />
          <figcaption class="card__caption">
            <h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
            <p class="card__snippet">
              Drinking more caffeine during the coronavirus lockdown? Here's how
              it can affect you over time and advice on making it better for
              you.
            </p>
            <a href="" class="card__button">Read more</a>
          </figcaption>
        </figure>
      </div>

      <div class="card">
        <figure class="card__thumb">
          <img
            src="https://source.unsplash.com/qXMpNtNp1uE/300x510"
            alt="Picture by Daniel Lincoln"
            class="card__image"
          />
          <figcaption class="card__caption">
            <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>
            <p class="card__snippet">
              On Friday, offices around the country celebrated the 15th annual
              Take Your Dog to Work Day. Though the event's primary goal is to
              raise awareness for pet adoption, the unanticipated impact may be
              a slightly more relaxing work environment for any office choosing
              to participate.
            </p>
            <a href="" class="card__button">Read more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </body>
</html>
