<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/trix@2.0.0/dist/trix.css"
    />
    <!-- <script
    type="text/javascript"
    src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"
  ></script> -->
  </head>
  <body></body>
  <script>
            function extractContent(s) {
            var span = document.createElement('span');
            span.innerHTML = s;
            document.body.appendChild(span);
            return span.textContent || span.innerText;
        };
    var error = <%- JSON.stringify(content) %>;
    alert(extractContent(error));
  </script>
</html>
